In [2]:
import bs4
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup

In [3]:
my_url = "https://en.wikipedia.org/wiki/Harvard_University"
uClient = uReq(my_url)
page_html = uClient.read()
uClient.close()

In [9]:
soup = Soup(page_html, "html.parser")

In [10]:
soup.h1

In [11]:
type(page_soup)
type(uClient)

http.client.HTTPResponse

In [12]:
soup.title

In [13]:
"title" in dir(soup)

False

In [18]:
soup.find_all("p")[1]

<p><b>Harvard University</b> is a private <a href="/wiki/Ivy_League" title="Ivy League">Ivy League</a> <a href="/wiki/Research_university" title="Research university">research university</a> in <a href="/wiki/Cambridge,_Massachusetts" title="Cambridge, Massachusetts">Cambridge, Massachusetts</a>, with about 6,700 undergraduate students and about 15,250 postgraduate students. Established in 1636 and named for its first benefactor, clergyman <a href="/wiki/John_Harvard_(clergyman)" title="John Harvard (clergyman)">John Harvard</a>, Harvard is the <a class="mw-redirect" href="/wiki/Colonial_Colleges" title="Colonial Colleges">United States' oldest institution of higher learning</a>.<sup class="reference" id="cite_ref-9"><a href="#cite_note-9">[9]</a></sup> Its history, influence, and wealth have made it one of the most prestigious universities in the world.<sup class="reference" id="cite_ref-10"><a href="#cite_note-10">[10]</a></sup><sup class="reference" id="cite_ref-11"><a href="#cite_note-11">[11]</a></sup><sup class="reference" id="cite_ref-12"><a href="#cite_note-12">[12]</a></sup><sup class="reference" id="cite_ref-13"><a href="#cite_note-13">[13]</a></sup><sup class="reference" id="cite_ref-14"><a href="#cite_note-14">[14]</a></sup><sup class="reference" id="cite_ref-15"><a href="#cite_note-15">[15]</a></sup>
</p>

In [19]:
len(soup.find_all("p"))

76

In [20]:
soup.table["class"]

['infobox', 'vcard']

In [21]:
[t["class"] for t in soup.find_all("table") if t.get("class")]

[['infobox', 'vcard'],
 ['toccolours'],
 ['box-Expand_section',
  'plainlinks',
  'metadata',
  'ambox',
  'mbox-small-left',
  'ambox-content'],
 ['infobox'],
 ['wikitable', 'sortable', 'collapsible', 'collapsed', 'floatright'],
 ['wikitable', 'sortable', 'collapsible', 'collapsed', 'floatright'],
 ['wikitable'],
 ['box-Cleanup-gallery', 'plainlinks', 'metadata', 'ambox', 'ambox-style'],
 ['nowraplinks', 'collapsible', 'collapsed', 'navbox-inner'],
 ['nowraplinks', 'navbox-subgroup'],
 ['nowraplinks', 'navbox-subgroup'],
 ['nowraplinks', 'collapsible', 'collapsed', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'collapsed', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'hlist', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'hlist', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'hlist', 'navbox-inner']]

In [22]:
my_list = []
for t in soup.find_all("table"):
    if t.get("class"):
        my_list.append(t["class"])
my_list

[['infobox', 'vcard'],
 ['toccolours'],
 ['box-Expand_section',
  'plainlinks',
  'metadata',
  'ambox',
  'mbox-small-left',
  'ambox-content'],
 ['infobox'],
 ['wikitable', 'sortable', 'collapsible', 'collapsed', 'floatright'],
 ['wikitable', 'sortable', 'collapsible', 'collapsed', 'floatright'],
 ['wikitable'],
 ['box-Cleanup-gallery', 'plainlinks', 'metadata', 'ambox', 'ambox-style'],
 ['nowraplinks', 'collapsible', 'collapsed', 'navbox-inner'],
 ['nowraplinks', 'navbox-subgroup'],
 ['nowraplinks', 'navbox-subgroup'],
 ['nowraplinks', 'collapsible', 'collapsed', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'collapsed', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'hlist', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'hlist', 'collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'hlist', 'navbox-inner']]

In [84]:
table_html = soup.find_all("table", "wikitable")
str(table_html[2])

'<table class="wikitable" style="text-align:center; float:right; font-size:85%; margin-right:2em;">\n<caption><i>Demographics of student body</i><sup class="reference" id="cite_ref-Head_count_141-0"><a href="#cite_note-Head_count-141">[141]</a></sup><sup class="reference" id="cite_ref-142"><a href="#cite_note-142">[142]</a></sup><sup class="reference" id="cite_ref-143"><a href="#cite_note-143">[143]</a></sup>\n</caption>\n<tbody><tr>\n<th></th>\n<th>Undergrad</th>\n<th>Graduate</th>\n<th>U.S. census\n</th></tr>\n<tr>\n<th>Asian/Pacific Islander\n</th>\n<td>17%</td>\n<td>11%</td>\n<td>5%\n</td></tr>\n<tr>\n<th>Black/non-Hispanic\n</th>\n<td>6%</td>\n<td>4%</td>\n<td>12%\n</td></tr>\n<tr>\n<th>Hispanics of any race\n</th>\n<td>9%</td>\n<td>5%</td>\n<td>16%\n</td></tr>\n<tr>\n<th>White/non-Hispanic\n</th>\n<td>46%</td>\n<td>43%</td>\n<td>64%\n</td></tr>\n<tr>\n<th>Mixed race/other\n</th>\n<td>10%</td>\n<td>8%</td>\n<td>9%\n</td></tr>\n<tr>\n<th>International students\n</th>\n<td>11%</td>\n<td>27%</td>\n<td>N/A\n</td></tr></tbody></table>'

In [85]:
from IPython.core.display import HTML
HTML(str(table_html[2].tbody))

In [86]:
rows = [row for row in table_html[2].tbody.find_all("tr")]
rows

[<tr>
 <th></th>
 <th>Undergrad</th>
 <th>Graduate</th>
 <th>U.S. census
 </th></tr>, <tr>
 <th>Asian/Pacific Islander
 </th>
 <td>17%</td>
 <td>11%</td>
 <td>5%
 </td></tr>, <tr>
 <th>Black/non-Hispanic
 </th>
 <td>6%</td>
 <td>4%</td>
 <td>12%
 </td></tr>, <tr>
 <th>Hispanics of any race
 </th>
 <td>9%</td>
 <td>5%</td>
 <td>16%
 </td></tr>, <tr>
 <th>White/non-Hispanic
 </th>
 <td>46%</td>
 <td>43%</td>
 <td>64%
 </td></tr>, <tr>
 <th>Mixed race/other
 </th>
 <td>10%</td>
 <td>8%</td>
 <td>9%
 </td></tr>, <tr>
 <th>International students
 </th>
 <td>11%</td>
 <td>27%</td>
 <td>N/A
 </td></tr>]

In [147]:
#other functions in python

In [87]:
rem_nl = lambda s: s.replace("\n", " ")

In [88]:
def power(x, y):
    return x**y

power(2, 3)

8

In [90]:
def print_greeting():
    print ("Hello!")
    
print_greeting()

Hello!

In [91]:
def get_multiple(x, y=1):
    return x*y

print ("With x and y: ", get_multiple(10, 2))
print ("With x only: ", get_multiple(10))

With x and y:  20
With x only:  10

In [92]:
def print_special_greeting(name, leaving=False, condition="nice"):
    print ("Hi", name)
    print ("How are you doing in this", condition, "day?")
    if leaving:
        print ("Please come back!")

In [93]:
print_special_greeting("John")

Hi John
How are you doing in this nice day?

In [94]:
print_special_greeting("John", True, "rainy")

Hi John
How are you doing in this rainy day?
Please come back!

In [95]:
print_special_greeting("John", condition="horrible")

Hi John
How are you doing in this horrible day?

In [98]:
def print_siblings(name, *siblings):
    print (name, "has the following siblings:")
    for sibling in siblings:
        print (sibling)
    print
        
print_siblings("John", "Ashley", "Lauren", "Arthur")
print_siblings("Mike", "John")
print_siblings("Terry")

John has the following siblings:
Ashley
Lauren
Arthur
Mike has the following siblings:
John
Terry has the following siblings:

In [99]:
def print_brothers_sisters(name, **siblings):
    print (name, "has the following siblings:")
    for sibling in siblings:
        print (sibling, ":", siblings[sibling])
    print
    
print_brothers_sisters("John", Ashley="sister", Lauren="sister", Arthur="brother")

John has the following siblings:
Ashley : sister
Lauren : sister
Arthur : brother

In [100]:
columns = [rem_nl(col.get_text()) for col in rows[0].find_all("th") if col.get_text()]
columns

['Undergrad', 'Graduate', 'U.S. census ']

In [148]:
indexes = [row.find("th").get_text().replace("\n", "") for row in rows[1:]]
indexes

['Asian/Pacific Islander',
 'Black/non-Hispanic',
 'Hispanics of any race',
 'White/non-Hispanic',
 'Mixed race/other',
 'International students']

In [103]:
HTML(str(table_html[2].tbody))

In [166]:
def to_num(x):
    try:
        if(int(x)):
            return x
    except:
        return None

In [167]:
to_num1 = lambda s: s[-1] == "%" and int(s[:-1]) or None

In [168]:
values = [to_num1(value.get_text().replace("\n","")) for row in rows[1:] for value in row.find_all("td")]
values

[17, 11, 5, 6, 4, 12, 9, 5, 16, 46, 43, 64, 10, 8, 9, 11, 27, None]

In [186]:
stacked_values = list(zip(*[values[i::3] for i in range(len(columns))]))
stacked_values

[(17, 11, 5), (6, 4, 12), (9, 5, 16), (46, 43, 64), (10, 8, 9), (11, 27, None)]

In [185]:
x1 = [1,2]
x2 = [3,4]
(list(zip(x1,x2)))

[(1, 3), (2, 4)]

In [109]:
def print_args(arg1, arg2, arg3):
    print (arg1, arg2, arg3)

# Print three numbers.
print_args(1, 2, 3)

# Print three lists.
print_args([1, 10], [2, 20], [3, 30])

1 2 3
[1, 10] [2, 20] [3, 30]

In [110]:
parameters = [100, 200, 300]

p1 = parameters[0]
p2 = parameters[1]
p3 = parameters[2]

print_args(p1, p2, p3)

100 200 300

In [111]:
p4, p5, p6 = parameters

print_args(p4, p5, p6)

100 200 300

In [112]:
print_args(*parameters)

100 200 300

In [187]:
{ind: value for ind, value in zip(indexes, stacked_values)}

{'Asian/Pacific Islander': (17, 11, 5),
 'Black/non-Hispanic': (6, 4, 12),
 'Hispanics of any race': (9, 5, 16),
 'White/non-Hispanic': (46, 43, 64),
 'Mixed race/other': (10, 8, 9),
 'International students': (11, 27, None)}

In [188]:
import pandas as pd

In [189]:
df = pd.DataFrame(stacked_values, columns=columns, index=indexes)
df

                        Undergrad  Graduate  U.S. census
Asian/Pacific Islander         17        11           5.0
Black/non-Hispanic              6         4          12.0
Hispanics of any race           9         5          16.0
White/non-Hispanic             46        43          64.0
Mixed race/other               10         8           9.0
International students         11        27           NaN

In [190]:
data_dicts = [{col: val for col, val in zip(columns, col_values)} for col_values in stacked_values]
data_dicts

[{'Undergrad': 17, 'Graduate': 11, 'U.S. census ': 5},
 {'Undergrad': 6, 'Graduate': 4, 'U.S. census ': 12},
 {'Undergrad': 9, 'Graduate': 5, 'U.S. census ': 16},
 {'Undergrad': 46, 'Graduate': 43, 'U.S. census ': 64},
 {'Undergrad': 10, 'Graduate': 8, 'U.S. census ': 9},
 {'Undergrad': 11, 'Graduate': 27, 'U.S. census ': None}]

In [191]:
pd.DataFrame(data_dicts, index=indexes)

                        Graduate  U.S. census   Undergrad
Asian/Pacific Islander        11           5.0         17
Black/non-Hispanic             4          12.0          6
Hispanics of any race          5          16.0          9
White/non-Hispanic            43          64.0         46
Mixed race/other               8           9.0         10
International students        27           NaN         11

In [192]:
stacked_by_col = [values[i::3] for i in range(len(columns))]
stacked_by_col

[[17, 6, 9, 46, 10, 11], [11, 4, 5, 43, 8, 27], [5, 12, 16, 64, 9, None]]

In [193]:
data_lists = {col: val for col, val in zip(columns, stacked_by_col)}
data_lists

{'Undergrad': [17, 6, 9, 46, 10, 11],
 'Graduate': [11, 4, 5, 43, 8, 27],
 'U.S. census ': [5, 12, 16, 64, 9, None]}

In [196]:
indexes

['Asian/Pacific Islander',
 'Black/non-Hispanic',
 'Hispanics of any race',
 'White/non-Hispanic',
 'Mixed race/other',
 'International students']

In [197]:
pd.DataFrame(data_lists, index=indexes)

                        Undergrad  Graduate  U.S. census
Asian/Pacific Islander         17        11           5.0
Black/non-Hispanic              6         4          12.0
Hispanics of any race           9         5          16.0
White/non-Hispanic             46        43          64.0
Mixed race/other               10         8           9.0
International students         11        27           NaN

In [198]:
df.dtypes

Undergrad         int64
Graduate          int64
U.S. census     float64
dtype: object

In [199]:
df.dropna()

                        Undergrad  Graduate  U.S. census
Asian/Pacific Islander         17        11           5.0
Black/non-Hispanic              6         4          12.0
Hispanics of any race           9         5          16.0
White/non-Hispanic             46        43          64.0
Mixed race/other               10         8           9.0

In [200]:
df.dropna(axis=1)

                        Undergrad  Graduate
Asian/Pacific Islander         17        11
Black/non-Hispanic              6         4
Hispanics of any race           9         5
White/non-Hispanic             46        43
Mixed race/other               10         8
International students         11        27

In [201]:
df_clean = df.fillna(0).astype(int)
df_clean

                        Undergrad  Graduate  U.S. census
Asian/Pacific Islander         17        11             5
Black/non-Hispanic              6         4            12
Hispanics of any race           9         5            16
White/non-Hispanic             46        43            64
Mixed race/other               10         8             9
International students         11        27             0

In [202]:
df_clean.dtypes

Undergrad       int64
Graduate        int64
U.S. census     int64
dtype: object

In [203]:
df_clean.describe()

       Undergrad   Graduate  U.S. census
count   6.000000   6.000000      6.000000
mean   16.500000  16.333333     17.666667
std    14.896308  15.513435     23.363790
min     6.000000   4.000000      0.000000
25%     9.250000   5.750000      6.000000
50%    10.500000   9.500000     10.500000
75%    15.500000  23.000000     15.000000
max    46.000000  43.000000     64.000000

In [204]:
import numpy as np

In [205]:
df_clean.values

array([[17, 11,  5],
       [ 6,  4, 12],
       [ 9,  5, 16],
       [46, 43, 64],
       [10,  8,  9],
       [11, 27,  0]])

In [206]:
type(df_clean.values)

numpy.ndarray

In [207]:
np.mean(df_clean.Undergrad)

16.5

In [208]:
df_clean["Undergrad"]

Asian/Pacific Islander    17
Black/non-Hispanic         6
Hispanics of any race      9
White/non-Hispanic        46
Mixed race/other          10
International students    11
Name: Undergrad, dtype: int64

In [209]:
df_clean.Undergrad

Asian/Pacific Islander    17
Black/non-Hispanic         6
Hispanics of any race      9
White/non-Hispanic        46
Mixed race/other          10
International students    11
Name: Undergrad, dtype: int64

In [211]:
df_clean.loc["Asian/Pacific Islander"]

Undergrad       17
Graduate        11
U.S. census      5
Name: Asian/Pacific Islander, dtype: int64

In [212]:
df_clean.iloc[0]

Undergrad       17
Graduate        11
U.S. census      5
Name: Asian/Pacific Islander, dtype: int64

In [214]:
df_clean.loc["Asian/Pacific Islander"]

Undergrad       17
Graduate        11
U.S. census      5
Name: Asian/Pacific Islander, dtype: int64

In [215]:
df_clean.iloc[0]

Undergrad       17
Graduate        11
U.S. census      5
Name: Asian/Pacific Islander, dtype: int64

In [216]:
df_clean.loc["White/non-Hispanic", "Graduate"]

43

In [145]:
df_clean.iloc[3, 1]

0